.logo{
    height: 50px;   
    width: 50px;
}

.active{
    color: #FC7753;
    border-bottom: 2px solid #FC7753;
    font-weight: 900px;
}

.menu-link:hover{
    border-bottom: 2px solid #FC7753;
    transition: 1s ease-in-out;
}

